/__pycache__/
/assets/
/assets/data/
/models/
/logs/
/local_logs/
/demo_logs/
**/__pycache__/
__pycache__/
.vscode
/colosseum/*.json
/colosseum/*.txt
/experiment_logs*/
/experiment_logs*/*.*
/wandb/
/to_be_deleted/
/to_be_deleted/